<html lang="en">

<head>
    <title>BigBox Debug Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/all.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <script src="static/scripts/popper.min.js"></script>
    <script src="static/scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="static/scripts/bootstrap.min.js"></script>
    <script src="static/scripts/custom.js"></script>
    <script>
        $(document).ready(function(){
           GetLastMainTime();
       });  
   </script>
</head>

<body>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <!-- <div class="jumbotron vertical-center"> -->
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-12"><h1 class="display-3">Bigbox</h1></div>
                    <div class="col-md-11"><p class="lead user-text">Welcome to Bigbox! You are now logged in as: <font color="red">{{g.user.username}}</font></p></div>
                    <div class="col=md-1"><button type="button" class="btn btn-primary btn-sm logout-btn" onclick="Logout()">Logout</button></div>
                    <div class="col-md-12"><p class="lead user-text">To continue, please indicate which process to proceed</p></div>
                    <div class="col-md-12"><hr class="my-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-white bg-dark mb-3" >
                            <div class="card-header">Daily Routine - Consumables Refill</div>
                            <div class="card-body">
                              <p class="card-text">Check consumables availability, refill if needed.</p>
                              <p class="card-text" id="lastrefill">Last refill since: </p>
                              <button type="button" class="btn btn-info btn-lg dryweybaybtn" onclick="location.href='/refill';">Press for Consumables Refill</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-white bg-dark mb-3" >
                            <div class="card-header">Daily Routine - Control Center</div>
                            <div class="card-body">
                              <p class="card-text">BigBox main feature. </p>
                              <p class="card-text">Proceed to perform GES Basic Set assembly and inspection process.</p>
                              <button type="button" class="btn btn-info btn-lg dryweybaybtn" onclick="location.href='/control_panel';">Press for Control Center</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card text-white bg-dark mb-3" >
                            <div class="card-header">Maintenance</div>
                            <div class="card-body">
                              <p class="card-text">Unlock all service doors and all modules doors for cleaning.</p>
                              <p class="card-text" id="lastmain">Last maintenance since: </p>
                              <button type="button" class="btn btn-info btn-lg dryweybaybtn" onclick="location.href='/control_panel';">Press for Maintenance</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</body>
<script type="text/javascript">
    function GetLastMainTime(){
        $.ajax({
        method:'GET',
        url:"/MaintenanceTime",
        success:function(respond){
            var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            var week = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
            var MainTime = new Date(parseFloat(respond['timestamp_maintenance']) * 1000);
            var RefillTime = new Date(parseFloat(respond['timestamp_refill']) * 1000);
            // timestring = MainTime.getMonth + MainTime.getDate + MainTime.getFullYear + "(" + MainTime.getDay + ")" + MainTime.getHours + "0" + MainTime.getMinutes() + "0" + MainTime.getSeconds();
            // timestring = MainTime.getMonth() + MainTime.getDate() + MainTime.getFullYear() + "(" + MainTime.getDay() + ")" + MainTime.getHours() + "0" + MainTime.getMinutes() + "0" + MainTime.getSeconds();
            
            timestring_maintenance = MainTime.getDate() + " " + month[MainTime.getMonth()] + " " + MainTime.getFullYear() + " (" + week[MainTime.getDay()] + ") " + MainTime.getHours() + ':' + ("0" + MainTime.getMinutes()).substr(-2) + ':' + ("0" + MainTime.getSeconds()).substr(-2);
            timestring_refill = RefillTime.getDate() + " " + month[RefillTime.getMonth()] + " " + RefillTime.getFullYear() + " (" + week[RefillTime.getDay()] + ") " + RefillTime.getHours() + ':' + ("0" + RefillTime.getMinutes()).substr(-2) + ':' + ("0" + RefillTime.getSeconds()).substr(-2);
            
            $('#lastmain').text("Last maintenance since: " + timestring_maintenance);
            $('#lastrefill').text("Last maintenance since: " + timestring_refill);
        }
    });
    }
</script>
</html>