<html lang="en">

<head>
    <title>BigBox Debug Page</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/all.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <script src="static/scripts/popper.min.js"></script>
    <script src="static/scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="static/scripts/bootstrap.min.js"></script>
    <script src="static/scripts/custom.js"></script>
   </script>
</head>

<body>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3">Bigbox</h1>
                <p class="lead">Greetings, welcome to Bigbox! </p>
                
                <p class="lead">To continue, please login</p>
                <hr class="my-4">

                <form action="/" method="POST">
                    <fieldset>
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input type="text" class="form-control" name="username"  placeholder="Enter username">
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>