<div class="modal fade bd-example-modal-lg" id="RingSpareBayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Refilling Ring Spare Bay</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12"><h5>Forcep Artery Adson</h5></div>
                <div class="col-md-6">
                    <center>
                        <img class="responsive" src="https://via.placeholder.com/150">
                    </center>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>Number of Forcep Artery Adson presents in Spare Bay: </p>
                        <label for="exampleSelect1">Number of Forcep Artery Adson loaded in:</label>
                        <select class="form-control" id="ForcepArteryAdsonRefill">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                        </select>
                      </div>
                </div>
            </div> 
            <br>
            <div class="row">
                <div class="col-md-12"><h5>Forcep Artery Adson</h5></div>
                <div class="col-md-6">
                    <center>
                        <img class="responsive" src="https://via.placeholder.com/150">
                    </center>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>Number of Forcep Artery Adson presents in Spare Bay: </p>
                        <label for="exampleSelect1">Number of Forcep Artery Adson loaded in:</label>
                        <select class="form-control" id="exampleSelect1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12"><h5>Forcep Artery Adson</h5></div>
                <div class="col-md-6">
                    <center>
                        <img class="responsive" src="https://via.placeholder.com/150">
                    </center>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>Number of Forcep Artery Adson presents in Spare Bay: </p>
                        <label for="exampleSelect1">Number of Forcep Artery Adson loaded in:</label>
                        <select class="form-control" id="exampleSelect1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12"><h5>Forcep Artery Adson</h5></div>
                <div class="col-md-6">
                    <center>
                        <img class="responsive" src="https://via.placeholder.com/150">
                    </center>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>Number of Forcep Artery Adson presents in Spare Bay: </p>
                        <label for="exampleSelect1">Number of Forcep Artery Adson loaded in:</label>
                        <select class="form-control" id="exampleSelect1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="Refill()">Save changes</button>
        </div>
      </div>
    </div>
</div>