<div class="modal fade bd-example-modal-lg" id="RingSpareBayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Refilling Ring Spare Bay</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12"><h5>Forcep Artery Adson</h5></div>
                <div class="col-md-4">
                    <center>
                        <img class="responsive" src="https://via.placeholder.com/150">
                    </center>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <p id="ForcepArteryAdsonRemaining">Number of Forcep Artery Adson presents in Spare Bay: </p>
                        <label for="exampleSelect1">Number of Forcep Artery Adson loaded in:</label>
                        <select class="form-control" id="ForcepArteryAdsonRefill">
                        </select>
                      </div>
                </div>
            </div> 
            <br>
            <div class="row">
                <div class="col-md-12"><h5>Forcep Artery Crile</h5></div>
                <div class="col-md-4">
                    <center>
                        <img class="responsive" src="https://via.placeholder.com/150">
                    </center>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <p id="ForcepArteryCrileRemaining">Number of Forcep Artery Crile presents in Spare Bay: </p>
                        <label for="exampleSelect1">Number of Forcep Artery Crile loaded in:</label>
                        <select class="form-control" id="ForcepArteryCrileRefill">
                        </select>
                      </div>
                </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12"><h5>Holder Needle Mayo Hegar</h5></div>
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <p id="HolderNeedleMayoHegarRemaining"></p>
                      <label for="exampleSelect1">Number of Holder Needle Mayo Hegar loaded in:</label>
                      <select class="form-control" id="HolderNeedleMayoHegarRefill">
                      </select>
                    </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12"><h5>Holder Needle Crilewood</h5></div>
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <p id="HolderNeedleCrilewoodRemaining"></p>
                      <label for="exampleSelect1">Number of Holder Needle Crilewood loaded in:</label>
                      <select class="form-control" id="HolderNeedleCrilewoodRefill">
                      </select>
                    </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12"><h5>Forcep Tissue Littlewood</h5></div>
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <p id="ForcepTissueLittlewoodRemaining"></p>
                      <label for="exampleSelect1">Number of Forcep Tissue Littlewood loaded in:</label>
                      <select class="form-control" id="ForcepTissueLittlewoodRefill">
                      </select>
                    </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12"><h5>Forcep Tissue Stilles</h5></div>
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <p id="ForcepTissueStillesRemaining"></p>
                      <label for="exampleSelect1">Number of Forcep Tissue Stilles loaded in:</label>
                      <select class="form-control" id="ForcepTissueStillesRefill">
                      </select>
                    </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12"><h5>Forcep Tissue Babcock</h5></div>
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <p id="ForcepTissueBabcockRemaining"></p>
                      <label for="exampleSelect1">Number of Forcep Tissue Babcock loaded in:</label>
                      <select class="form-control" id="ForcepTissueBabcockRefill">
                      </select>
                    </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12"><h5>Scissor Dressing Nurses</h5></div>
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <p id="ScissorDressingNursesRemaining"></p>
                      <label for="exampleSelect1">Number of Scissor Dressing Nurses loaded in:</label>
                      <select class="form-control" id="ScissorDressingNursesRefill">
                      </select>
                    </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12"><h5>Scissor Mayo</h5></div>
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <p id="ScissorMayoRemaining"></p>
                      <label for="exampleSelect1">Number of Scissor Mayo loaded in:</label>
                      <select class="form-control" id="ScissorMayoRefill">
                      </select>
                    </div>
              </div>
            </div>
            <br>
            
            <div class="row">
              <div class="col-md-12"><h5>Scissor Dissecting Metzenbaum</h5></div>
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <p id="ScissorDissectingMetzenbaumRemaining"></p>
                      <label for="exampleSelect1">Number of Scissor Dissecting Metzenbaum loaded in:</label>
                      <select class="form-control" id="ScissorDissectingMetzenbaumRefill">
                      </select>
                    </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12"><h5>Forcep Sponge-Holding Rampley</h5></div>
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <p id="ForcepSpongeHoldingRampleyRemaining"></p>
                      <label for="exampleSelect1">Number of Forcep Sponge-Holding Rampley loaded in:</label>
                      <select class="form-control" id="ForcepSpongeHoldingRampleyRefill">
                      </select>
                    </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="Refill('RingSpareBay')">Save changes</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="NonRingSpareBayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Refilling Non Ring Spare Bay</h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-12"><h5>Towel Clip Jones</h5></div>
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <p id="TowelClipJonesRemaining"></p>
                      <label for="exampleSelect1">Number of Towel Clip Jones loaded in:</label>
                      <select class="form-control" id="TowelClipJonesRefill">
                      </select>
                    </div>
              </div>
          </div> 
          <br>
          <div class="row">
            <div class="col-md-12"><h5>Forcep Dissecting Gillies</h5></div>
            <div class="col-md-4">
                <center>
                    <img class="responsive" src="https://via.placeholder.com/150">
                </center>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <p id="ForcepDissectingGilliesRemaining"></p>
                    <label for="exampleSelect1">Number of Forcep Dissecting Gillies loaded in:</label>
                    <select class="form-control" id="ForcepDissectingGilliesRefill">
                    </select>
                  </div>
            </div>
        </div> 
        <div class="row">
          <div class="col-md-12"><h5>Forcep Dissecting Mcindoe</h5></div>
          <div class="col-md-4">
              <center>
                  <img class="responsive" src="https://via.placeholder.com/150">
              </center>
          </div>
          <div class="col-md-8">
              <div class="form-group">
                  <p id="ForcepDissectingMcindoeRemaining"></p>
                  <label for="exampleSelect1">Number of Forcep Dissecting Mcindoe loaded in:</label>
                  <select class="form-control" id="ForcepDissectingMcindoeRefill">
                  </select>
                </div>
          </div>
      </div> 
      <br>
        <div class="row">
          <div class="col-md-12"><h5>Handle Bard Parker</h5></div>
          <div class="col-md-4">
              <center>
                  <img class="responsive" src="https://via.placeholder.com/150">
              </center>
          </div>
          <div class="col-md-8">
              <div class="form-group">
                  <p id="HandleBardParkerRemaining"></p>
                  <label for="exampleSelect1">Number of Handle Bard Parker loaded in:</label>
                  <select class="form-control" id="HandleBardParkerRefill">
                  </select>
                </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12"><h5>Ruler Graduated Multipurpose</h5></div>
          <div class="col-md-4">
              <center>
                  <img class="responsive" src="https://via.placeholder.com/150">
              </center>
          </div>
          <div class="col-md-8">
              <div class="form-group">
                  <p id="RulerGraduatedMultipurposeRemaining"></p>
                  <label for="exampleSelect1">Number of Ruler Graduated Multipurpose loaded in:</label>
                  <select class="form-control" id="RulerGraduatedMultipurposeRefill">
                  </select>
                </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12"><h5>Spear Redivac</h5></div>
          <div class="col-md-4">
              <center>
                  <img class="responsive" src="https://via.placeholder.com/150">
              </center>
          </div>
          <div class="col-md-8">
              <div class="form-group">
                  <p id="SpearRedivacRemaining"></p>
                  <label for="exampleSelect1">Number of Spear Redivac loaded in:</label>
                  <select class="form-control" id="SpearRedivacRefill">
                  </select>
                </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="Refill('NonRingSpareBay')">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="TempBracModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loading Temp Bracket</h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-4">
                <center>
                    <img class="responsive" src="https://via.placeholder.com/150">
                </center>
            </div>
              <div class="col-md-4">
                  <br>
                  <p> Temp Brac not detected.</p>
                  <p> Load 1 x Temp Bracket at WetBay PigeonHole #1 and press the "Load-in" button below.</p>
              </div>
          </div> 
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="Refill('TempBrac')">Load-in</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" data-backdrop="static" id="TempBracModal2" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transferring Temp Bracket</h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-12">
                  <p> Temp Bracket is being transferred at the moment, please wait patiently...</p>
                  <p><font color="red"> This message will dismiss itself once transfer has completed</font></p>
              </div>
          </div> 
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="TrayPaperBayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loading Trap Paper</h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-4">
                <center>
                    <img class="responsive" src="https://via.placeholder.com/150">
                </center>
            </div>
              <div class="col-md-4">
                  <br>
                  <p>Load in 50cm x 30cm Crepe Paper at the Tray Paper Bay as indicated and press the "Complete Load in" button below to continue.</p>
              </div>
          </div> 
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="Refill('TrayPaperBay')">Complete Load In</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="WrappingBayPaperModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loading Wrapping Paper</h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-4">
                <center>
                    <img class="responsive" src="https://via.placeholder.com/150">
                </center>
            </div>
              <div class="col-md-4">
                  <br>
                  <p>Load in 30cm x 30cm Crepe Paper at the Wrapping Bay as indicated and press the "Complete Load in" button below to continue.</p>
              </div>
          </div> 
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="Refill('WrappingBayPaper')">Complete Load In</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bd-example-modal-lg" id="WrappingBayTapeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loading 3M Masking Tape</h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-4">
                <center>
                    <img class="responsive" src="https://via.placeholder.com/150">
                </center>
            </div>
              <div class="col-md-4">
                  <br>
                  <p>Load in 3M Masking Tape at the Wrapping Bay as indicated and press the "Complete Load in" button below to continue.</p>
              </div>
          </div> 
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="Refill('WrappingBayTape')">Complete Load In</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="PrinterBayWrapperModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loading Printed List Wrapper</h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-4">
                <center>
                    <img class="responsive" src="https://via.placeholder.com/150">
                </center>
            </div>
              <div class="col-md-4">
                  <br>
                  <p>Load in 30cm x 30cm Crepe Paper at the Printer Bay as indicated and press the "Complete Load in" button below to continue.</p>
              </div>
          </div> 
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="Refill('PrinterBayWrapper')">Complete Load In</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="PrinterBayA4PaperModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loading A4 Paper</h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-4">
                <center>
                    <img class="responsive" src="https://via.placeholder.com/150">
                </center>
            </div>
              <div class="col-md-4">
                  <br>
                  <p>Load in A4 Paper at the Printer Bay as indicated and press the "Complete Load in" button below to continue.</p>
              </div>
          </div> 
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="Refill('PrinterBayA4Paper')">Complete Load In</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="IndicatorDispenserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loading 3M Steam Indicator</h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-4">
                <center>
                    <img class="responsive" src="https://via.placeholder.com/150">
                </center>
            </div>
              <div class="col-md-4">
                  <br>
                  <p>Load in 3M Steam Indicator at the Indicator Dispenser as indicated and press the "Complete Load in" button below to continue.</p>
              </div>
          </div> 
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="Refill('IndicatorDispenser')">Complete Load In</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="StickerTagPrinterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loading Sticker Tag</h5>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                  <center>
                      <img class="responsive" src="https://via.placeholder.com/150">
                  </center>
              </div>
              <div class="col-md-4">
                <center>
                    <img class="responsive" src="https://via.placeholder.com/150">
                </center>
            </div>
              <div class="col-md-4">
                  <br>
                  <p>Load in Sticker Tag at the Sticker Tag Printer as indicated and press the "Complete Load in" button below to continue.</p>
              </div>
          </div> 
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="Refill('StickerTagPrinter')">Complete Load In</button>
      </div>
    </div>
  </div>
</div>